<a href='/songs'>Dashboard</a>
<a href='/logout'>Log Out</a>


<h3><%= @user.first_name %> <%= @user.last_name %>'s Playlist</h3>



<table>
	<tr>
	    <th>Artist</th>
	    <th>Title</th>
	    <th>Times Added</th>

  	</tr>
<% @other.each do |meh| %>
	<tr>
		<td><%= meh.song.artist %></td>
		<td><%= meh.song.title %></td>
		<td><%= meh.song.count %></td>
		</td>
	</tr>
<% end %>
</table>
